<?xml version="1.0"?>

<configuration>

  <appSettings file="UNSAFEappSettings.config"/> 
  <!--
  Make your own environment app settings file that has the following settings in it:
  <appSettings>
    <add key="Github.Repo" value="owner/reponame"/>
    <add key="Github.OAuth.Client_id" value="(your registered app client id)"/>
    <add key="Github.OAuth.Client_secret" value="(your registered app client secret)"/>
  </appSettings>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
